<div class="row mt-4">
  <!-- Imagem -->
	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/img/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>
  <!-- Formulario -->
	<div class="col-md-6">

    <form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <!-- Inicio do Cabeçalho do formulario -->
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div><!-- Fim do Cabeçalho do formulario -->
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" placeholder="Insira o Primeiro nome" formControlName="primeiroNome" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"/>
          <div class="invalid-feedback">Primeiro Nome é obrigatório</div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" placeholder="Insira o Último nome" formControlName="ultimoNome" [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"/>
          <div class="invalid-feedback">Último Nome é obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" placeholder="Insira o Nome Completo" formControlName="email" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"/>
        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">e-mail é obrigatório</div>
        <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">e-mail em formato incorreto</div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" placeholder="Insira o nome de Usuário" formControlName="userName" [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched}"/>
        <div class="invalid-feedback">Usuario obrigatório</div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" placeholder="Digite uma Senha" formControlName="password" [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"/>
          <div *ngIf="f.password.errors?.required && f.password.touched" class="invalid-feedback">Senha é obrigatório</div>
          <div *ngIf="f.password.errors?.minlength && f.password.touched" class="invalid-feedback">A Senha deve conter no minimo 6 caracteres</div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" placeholder="Confirme a Senha" formControlName="confirmePassword" [ngClass]="{'is-invalid': f.confirmePassword.errors && f.confirmePassword.touched}"/>
          <div *ngIf="f.confirmePassword.errors?.required" class="invalid-feedback">Confirmação de Senha é obrigatório</div>
          <div *ngIf="f.confirmePassword.errors?.mustMach" class="invalid-feedback">As Senhas não conferem</div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button [disabled]="!form.valid" class="btn btn-lg btn-success btn-block px-5" type="submit">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
